@font-face {
	font-family: 'Jostvf';
	src: url('assets/fonts/Jost-VF.ttf') format('truetype');
}

:root {
	--main-background: #222225;
	--text-high: #dad7d6;
	--muted: #c2bebc;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	/* Positioning */
	margin: 0;
	padding: 0;
	/* Visuals */
	background-color: var(--main-background);
	color: var(--text-high);
	font-family: Jostvf;
}

p {
	font-size: 1.5em;
}

nav-bar {
	position: absolute;
	left: 10%;
	top: 20vh;
	bottom: 20vh;
}
