@font-face {
	font-family: 'Jostvf';
	src: url('assets/fonts/Jost-VF.ttf') format('truetype');
}

:root {
	--main-background: #222225;
	--text-high: #dad7d6;
	--muted: #c2bebc;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	/* Positioning */
	margin: 0;
	padding: 0;
	position: relative;
	/* Visuals */
	background-color: var(--main-background);
	color: var(--text-high);
	font-family: Jostvf;
}

p {
	font-size: 1.5em;
}

/* Specific to certain sections */

main {
	position: absolute;
	top: 30%;
	right: 10%;
	padding: 20px;
	width: 60ch;
	/* From https://css.glass */
	background: rgba(133, 159, 202, 0.12);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.3px);
	-webkit-backdrop-filter: blur(6.3px);
	border: 1px solid rgba(133, 159, 202, 0.2);
	animation: dropin 2s;
}

@keyframes dropin {
	from {
		transform: translateY(-50px);
	}
	to {
		transform: translateY(0);
	}
}

main h1 {
	font-size: 300%;
	animation: fadein 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

main a {
	color: var(--text-high);
}

#sidebar {
	position: absolute;
	left: 50px;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav {
	display: flex;
	flex-direction: column;
}

nav a {
	padding: 20px;
	font-size: 2em;
	text-decoration: none;
	color: var(--text-high);
}

nav a img {
	margin-right: 20px;
}

footer {
	/* Positioning */
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 4px;
	/* Visuals */
	font-family: monospace;
	font-size: 1rem;
	color: var(--muted);
	border: var(--muted) 1px solid;
	background-color: var(--main-background);
}

.spots {
	position: absolute;
	top: 0;
	right: 0;
	width: 150vh;
	height: 150vh;
	background-image: url('assets/images/circle.svg');
	background-repeat: repeat;
	background-size: 7%;
	transform: translate(50vh, -50px) rotate3d(1, -1, 0, 50deg);
	animation: rotatein 2s;
}

@keyframes rotatein {
	from {
		transform: translate(50vh, -50px);
		opacity: 0;
	}
	to {
		transform: translate(50vh, -50px) rotate3d(1, -1, 0, 50deg);
		opacity: 1;
	}
}

#blue-spots {
	translate: -6px -3px;
	filter: hue-rotate(180deg);
}
