@font-face {
	font-family: 'Jostvf';
	src: url('assets/fonts/Jost-VF.ttf') format('truetype');
}

:root {
	--main-background: #222225;
	--text-high: #dad7d6;
	--muted: #c2bebc;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	/* Positioning */
	margin: 0;
	padding: 0;
	/* Visuals */
	background-color: var(--main-background);
	color: var(--text-high);
	font-family: Jostvf;
}

p {
	font-size: 1.5em;
}

/* Specific to certain sections */

main {
	position: absolute;
	top: 30%;
	right: 10%;
	padding: 20px;
	width: min(60ch, 50vw);
	/* From https://css.glass */
	background: rgba(133, 159, 202, 0.12);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.3px);
	-webkit-backdrop-filter: blur(6.3px);
	border: 1px solid rgba(133, 159, 202, 0.2);
	animation: dropin 2s;
}

@keyframes dropin {
	from {
		transform: translateY(-50px);
	}
	to {
		transform: translateY(0);
	}
}

main h1 {
	font-size: 300%;
	animation: fadein 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

main a {
	color: var(--text-high);
}

#sidebar {
	position: absolute;
	left: 10%;
	top: 20vh;
	bottom: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

nav a {
	flex-grow: 1;
	display: flex;
	align-items: center;
	font-size: 2em;
	text-decoration: none;
	color: var(--text-high);
}

nav a img {
	margin-right: 20px;
}

footer {
	/* Positioning */
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 4px;
	/* Visuals */
	font-family: monospace;
	font-size: 1rem;
	color: var(--muted);
	border: var(--muted) 1px solid;
	background-color: var(--main-background);
}

#mobile-top-container {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spots {
	position: absolute;
	top: 0;
	right: 0;
	width: 150vh;
	height: 150vh;
	background-image: url('assets/images/circle.svg');
	background-repeat: repeat;
	background-size: 7%;
	transform: translate(50vh, -50px) rotate3d(1, -1, 0, 50deg);
	animation: rotatein 2s;
}

@keyframes rotatein {
	from {
		transform: translate(50vh, -50px);
		opacity: 0;
	}
	to {
		transform: translate(50vh, -50px) rotate3d(1, -1, 0, 50deg);
		opacity: 1;
	}
}

#blue-spots {
	translate: -6px -3px;
	filter: hue-rotate(180deg);
}

@media (max-width: 868px) {
	main {
		width: auto;
		position: static;
		margin-left: 10%;
		margin-right: 10%;
	}

	main h1 {
		margin-top: 0;
		margin-bottom: 0;
	}

	main p {
		margin-top: 5px;
		margin-bottom: 0;
	}

	#mobile-top-container {
		height: 40%;
		border: var(--muted) 1px solid;
	}

	#sidebar {
		left: 20px;
		right: 20px;
		top: 40%;
		bottom: 2em;
	}
}

@media (max-width: 430px) {
	main {
		/* Fill up entire top part and position content with flexbox */
		margin: 0;
		height: 100%;
		width: 100%;
		animation: none;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	#mobile-top-container {
		border: none;
	}
}
