@font-face {
	font-family: Bodoni;
	src: url("/media/fonts/BodoniModa[opsz\,wght].ttf") format("truetype");
}

:root {
	--main-background: #f2ebeb;
	--card-background: #fff7f7;
	--light-shadow: #d6d6d6;
	--dark-shadow: #979189;
	--text-high: #15163d;
	--dark-percentage: 0%;
	--theme-animation-duration: 1s;
}

html, body {
	height: 100%;
}

body {
	/* Positioning */
	margin: 0;
	padding: 0;
	/* Visuals */
	background-color: var(--main-background);
	color: var(--text-high);
}

main {
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* Will eventually remove the column and switch to 
  grid-template-rows: masonry; 
  when browsers support it*/
}

@media screen and (max-width : 900px) {
	main {
		/* This will stack the first and third columns on top of each other.
		That's why I'll make the middle column the largest */
		grid-template-columns: repeat(2, 1fr);
	}
}


@media screen and (max-width : 500px) {
	main {
		grid-template-columns: repeat(1, 1fr);
	}
}

h1 {
	font-family: Bodoni;
	font-variation-settings: "opsz" 10;
	text-align: center;
}

h2, h3, p, ul {
	margin: auto;
	text-align: center;
	list-style-type: none;
	padding: 4%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.shadow {
	/* Positioning */
	margin: 4%;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	/* Visuals */
	border-radius: 35px;
	box-shadow: 18px 18px 36px var(--dark-shadow),
		-18px -18px 36px var(--light-shadow);
	z-index: 1;
}

.box {
	/* Positioning */
	padding: 2%;
	display: flex;
	flex-direction: column;
	/* Visuals */
	border-radius: 35px;
	background: var(--card-background);
	z-index: 2;
}

.language {
	/* Positioning */
	float: left;
	width: 30%;
	padding: 5%;
	margin: 5%;
	/* Visuals */
	border-radius: 16%;
	background: var(--card-background);
	box-shadow: 8px 8px 16px var(--dark-shadow),
		-8px -8px 16px var(--light-shadow);
}

/* The animation code */
@keyframes rotating_logo {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#rust-logo-foreground {
	animation-name: rotating_logo;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#rust-logo-background {
	background-image: url("media/images/logos/rust/center.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: invert(var(--dark-percentage));
}

#contact-list li a {
	padding: 0;
}

#profile-links-list {
	margin: 0;
}

#profile-links-list a {
	text-decoration: none;
}

#profile-links-list a img {
	width: 20%;
}

#github-logo {
	filter: invert(var(--dark-percentage));
}

/* Slider */

/* The switch - the box around the slider */
.switch {
	--slide-width: 140px;
	--slide-hight: 70px;
	--ball-diameter: 52px;
	--ball-insert: calc((var(--slide-hight) - var(--ball-diameter)) / 2);
	position: relative;
	display: inline-block;
	width: var(--slide-width);
	height: var(--slide-hight);
}

.switch input {
	display: none;
}

/* The slider */
.slider {
	/* Positioning */
	position: absolute;
	cursor: pointer;
	inset: 0;
	/* Visuals */
	border-radius: var(--slide-hight);
	box-shadow: inset 2px 2px 4px var(--dark-shadow);
	overflow: hidden;
}

.slider:before {
	/* Positioning */
	position: absolute;
	content: "";
	height: var(--ball-diameter);
	width: var(--ball-diameter);
	inset: var(--ball-insert);
	/* Visuals */
	background-color: #e2e239;
	transition-duration: var(--theme-animation-duration);
	transition-timing-function: ease-in-out;
	border-radius: 50%;
	box-shadow: 2px 2px 2px var(--dark-shadow);
}

.slider > object {
	width: 100%;
}

/* When checked */
input:checked+.slider::before {
	background-color: #ccd1e9;
}

/* When in focus */
input:focus+.slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
	transform: translateX(calc(var(--slide-width) - var(--ball-diameter) - (2 * var(--ball-insert))));
}