---
import '../../styles/global.css'
import Navbar from '../../components/Navbar.astro'
const allPosts = Object.values(import.meta.glob('./*.md', { eager: true }))
---

<html lang="en">
	<head>
		<title>{'Alex Gorichev — Blog'}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			main {
				font-size: 1.2em;
				margin: 10vh auto;
				margin-bottom: 30vh;
				width: 70ch;
				* {
					margin: revert;
				}
			}

			h2 {
			}
		</style>
	</head>

	<body>
		<main>
			<h1>Blog Posts</h1>
			<ul>
				{
					allPosts.map((post: any) => (
						<li>
							<p>
								<a href={post.url}>{post.frontmatter.title}</a>
								{'—'}
								{post.frontmatter.description}
							</p>
						</li>
					))
				}
			</ul>
		</main>
		<Navbar />
		<footer></footer>
	</body>
</html>
