---
import '../../styles/global.css'
import Navbar from '../../components/Navbar.astro'
---

<html lang="en">
	<head>
		<title>Alex Gorichev - Contact</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			main {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			ul {
				font-size: 1.5rem;
			}
			li {
				margin: 20% auto;
			}
		</style>
	</head>

	<body>
		<main>
			<ul>
				<li>Email: <a href="mailto:alex@voklen.com">alex@voklen.com</a></li>
				<li>
					GitHub: <a href="https://github.com/Voklen">github.com/Voklen</a>
				</li>
				<li>
					LinkedIn: <a href="https://www.linkedin.com/in/alex-gorichev/">
						linkedin.com/in/alex-gorichev/
					</a>
				</li>
			</ul>
		</main>
		<Navbar />
	</body>
</html>
