---
import '../styles/global.css'
import '../styles/home.css'
import Navbar from '../components/Navbar.astro'
import HeroSection from '../components/HeroSection.astro'
---

<html lang="en">
	<head>
		<title>Alex Gorichev</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script>
			import '../scripts/localTime.ts'
		</script>
	</head>

	<body>
		<a id="mastodon-link" rel="me" href="https://social.voklen.com/@alex"
			>Mastodon</a
		>
		<main>
			<div class="spots"></div>
			<div id="blue-spots" class="spots"></div>
			<HeroSection />
		</main>
		<Navbar />
		<footer></footer>
	</body>
</html>
