---
import '../styles/global.css'
import './style.css'
import Navbar from '../components/Navbar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<title>Alex Gorichev</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script>
			import './script.js'
		</script>
	</head>

	<body>
		<main>
			<div class="spots"></div>
			<div id="blue-spots" class="spots"></div>
			<div id="hero-card">
				<h1>Alex Gorichev</h1>
				<p>
					I&#x2019;m a full-stack developer, I love programming and I am
					currently a student at the
					<a href="https://www.st-andrews.ac.uk/">University of St Andrews</a>
				</p>
			</div>
		</main>
		<Navbar />
		<footer></footer>
	</body>
</html>
